.Login  *{
    padding: 10px;
    
}

.input{
    width: 200px;
    border-radius: 10px;
}

.labelLogin{
    font-size: large;
    font-weight: bold;
    color: rgb(23, 27, 32);
}

.loginbtn{
    color: rgb(23, 27, 32);
    font-weight: bold;
    background-color: darkcyan;
    border-radius: 10px;
}